.image {
    position: relative;
    height:auto;
    width: 100%;
    max-width: 100%;
 }

​table > thead >tr, td{
    color: white;
    font-weight: bold;
    
    
    
}
table > tbody >tr >td{
    color: #279ac3;
    font-weight: normal;
    
    
}

table.table-bordered > tbody > tr > td{
    border:1px solid #279ac3;
}
.h1title{
    font-weight: bold;
    color: #279ac3;
}
.h1subtitle{
    font-style: italic;
    color: #279ac3;
    font-weight: normal;
}
.form-group{
    color: #279ac3;
}
.required-field{
    font-style: italic;
    color: #279ac3;
    font-weight: bold;
}
.image1{
    width:60%;
    position: absolute;
  top: 1%;
  left: 20%;
}
hr{
    border: 1px solid #279ac3
}
html {
    overflow: scroll;
  }